* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  position: relative;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2d2a26;
  z-index: 999;
  border-radius: 50px;
}

.items-left, .items-right{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: TenbyFive;
  font-weight: 500;
  font-size: 18px;
}

.logo-container {
  position: relative;
  width: 50%;
  height: 100px; /* Asegúrate de que tenga un alto definido */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Amodified;
  color: #c3d417;
  
  text-align: center;
  font-size: 1rem; /* Tamaño dinámico según el ancho de la pantalla */
  
  word-wrap: normal;
  overflow-wrap: break-word; /* Alternativa para compatibilidad */
}

/* >= 1200px (desktop grande) */
@media (min-width: 900px) {
  .logo {
     font-size: 2vw;
  }
}


.content img {
  width: 100%;
}

img {
  margin-bottom: 4em;
}


.content {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: relative;
  padding: 0;
}

.bg-video {
  transform: translateZ(0);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video cubra toda la sección */
  transform: translate(-50%, -50%); /* Centra el video */
}

/* drop down menu */
/* Contenedor del Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilo del botón "LIGHT" */
.dropdown-toggle {
  text-decoration: none;
  color: #2d2a26;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

/* Contenedor del menú desplegable */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #2d2a26; /* Fondo oscuro para el menú */
  min-width: 160px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
  overflow: hidden;
}

/* Estilos de los enlaces dentro del menú */
.dropdown-menu a {
  display: block;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

/* Efecto hover en las opciones */
.dropdown-menu a:hover {
  background-color: #c3d417; /* Color de la marca */
  color: #2d2a26;
}

/* Mostrar menú al pasar el mouse */
.dropdown:hover .dropdown-menu {
  display: block;
}
