html{
  scroll-behavior: smooth;
}
@font-face {
font-family: Akira;
src: url('../fonts/Akira.otf');
}

@font-face {
font-family: Desolator;
src: url('../fonts/Desolator.otf');
}

@font-face {
  font-family: Amodified;
  src: url('../fonts/Amodified.otf');
  }

@font-face {
  font-family: InputMono;
  src: url('../fonts/InputMono.ttf');
  }

@font-face {
  font-family: TenbyFive;
  src: url('../fonts/tenby-five.otf');
  }

.section{
  height: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 50px;
}

h1{
  font-family: InputMono;

}


h2, h3, h4, h5 {
  font-family: InputMono;
}

p {
  /*font-family: "Rubik", serif;*/
  font-family: TenbyFive;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 0.04em;
  opacity: 0.9;
}

.intro{
  position: relative;
  border-radius: 50px ;
  height: 100vh;
  margin-bottom: 5px;
  overflow: hidden;
}

.bg-video{
  filter: brightness(0.55); 
}

/* DEMO7INTRODUCTION */
.demo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-color: #2d2a26;
  position: relative;           /* IMPORTANTE */
  overflow: hidden;             /* opcional: ocultar si se sale */
}

.demo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 700px;                 /* tamaño del PNG/SVG */
  height: 700px;
  background: url("../assets/background-white-green.svg") no-repeat top right;
  background-size: contain;     /* o '100% 100%' si quieres forzar */
  pointer-events: none;         /* para que no moleste al usuario */
}

@media (max-width: 1000px) {
  .demo::before {
    width: 500px;                 /* tamaño del PNG/SVG */
  height: 500px;
  }
}

@media (max-width: 600px) {
  .demo::before {
    width: 300px;                 /* tamaño del PNG/SVG */
  height: 300px;
  }
}

.text-box, .text-box-modules{
  width: 50%;
  text-align: left;
  display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(30, 28, 25, 0.6); /* 60% opacidad */
    padding: 10px;
    border-radius: 20px;

    height: auto;
}

.text-box-modules{
  background: rgba(129, 143, 120, 0.13); /* 60% opacidad */
}

.text-box > h2, .text-box-modules > h2{
  padding: 20px;
  font-size: 2vw;
  text-align: center;
  padding: 0;
  color: white;
}

.text-box > p, .text-box-modules > p{
  padding: 10px;
  font-size: 18px;
  text-align: justify;
  color: white;
}

.text-box-modules > p {
  color: #1e1c19;
}

.demo-phone{
  width: auto;
  height: auto;
  max-width: 540px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (max-width: 1100px) {
  .demo{
      flex-direction: column;
      padding: 0px;
      
      padding-top: 50px;
      padding-bottom: 50px;
      background-position: right;
      background-size: contain;
  }

  .demo-phone{
    max-height: 50vw;
  }

  .text-box{
      width: 100%;
      margin-bottom: 20px;
  }

  .text-box > h2{
    font-size: 3.5vw;
  }
}




/* MOdules */
.modules{
  background-color: #c3d417;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

.text-box > h3{
  padding: 20px;
}

/* carousel controls */
#prev-btn img {
  transform: scaleX(-1); /* Flecha original */
  }

.carousel-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  color: #2d2a26;
  width: 100%;
  }
  
  .carousel-controls button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  width: 80px;
  }
  
  .carousel-controls button:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
  }
  
  .carousel-controls button {
    font-size: 3vw;
    object-fit: contain;
    width: 15%;
  }

  #module-title{
    font-size: 2rem;
    text-align: center;
    width: 70%;
    padding: 0px;
}
.carousel-controls button:focus {
  outline: none;
  box-shadow: none;
}


@media (max-width: 1000px) {
    .modules{
        width: 100%;
        flex-direction: column;
        padding: 0;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .text-box-modules{
      width: 100%;
      
    }

    .carousel-controls button {
      font-size: 35px;
      object-fit: contain;
      }
    
      #module-title{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #module-title{
        padding: 20px;
        font-size: 5vw;
        text-align: center;
    }
    
    .carousel-controls {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      }
}

@media (max-width: 1000px) {

  .carousel-controls {
    gap: 0px;
    }
}

/* Sección de Contacto */
.contact {
  background-color: #2d2a26;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px;
  color: #fff;
}
.contact > p {
  font-size: 18px;
}
.contact > h1 {
  text-align: center;
}


/* Estilos del formulario */
#info-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

#info-form label {
  font-family: "Rubik", serif;
  font-size: 16px;
  margin-top: 10px;
  color: #fff;
}

#info-form input,
#info-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
}

#info-form button {
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

#info-form button:hover {
  background-color: #444;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

/* Ajuste del video */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 50%;
  height: auto;
  max-width: 540px;
  border-radius: 20px;
  
  border-radius: 10px; /* Bordes redondeados para simular un teléfono */
  /*border: 8px solid black; /* Marco del celular */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra para efecto realista */
  overflow: hidden; /* Asegura que la imagen no sobresalga */
  background-color: white; /* Fondo para simular una pantalla apagada */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta la imagen sin distorsión */
  /*transition: opacity 0.3s ease-in-out;*/
  margin: 0;
}


/* Ajuste responsivo */
@media screen and (max-width: 1100px) {
  .image-container {
    width: 100%; /* Ocupar todo el ancho disponible */
    max-width: 85vw;
    height: auto;
  }
}



/* Ajustes para móviles */
@media (max-width: 1100px) {
  .contact {
    width: 100%;
    flex-direction: column;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }


  #info-form {
    max-width: 90%;
  }

  .modules > .text-box{
    margin-bottom: 20px;
  }
}

  /* CTA BUtoons */

  .cta-button {
    width: 100%;
    margin-top: 20px;
    background: linear-gradient(135deg, #2d2a26, #1e1c19); /* Degradado negro/gris oscuro */
    color: #ffffff; /* Texto blanco para máximo contraste */
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    font-family: "Rubik", sans-serif;
  }

  @media (max-width: 1000px) {
    .cta-button{
      width: 50%;
    }
  }
  
  /* Efecto hover: Cambio de color y sombra intensa */
  .cta-button:hover {
    background: linear-gradient(135deg, #000000, #2d2a26);
    color: #c3d417; /* Cambia el texto a verde para resaltar */
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  }
  
  /* Efecto de "presión" al hacer clic */
  .cta-button:active {
    transform: scale(0.95);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Animación de iluminación lateral */
  .cta-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(25deg);
    transition: all 0.5s ease-in-out;
  }
  
  .cta-button:hover::before {
    left: 120%;
  }
  

  .contact-button {
    margin-top: 20px;
    background: linear-gradient(135deg, #c3d417, #a8b312); /* Degradado con el color de la marca */
    color: #2d2a26;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(195, 212, 23, 0.3);
    font-family: "Rubik", sans-serif;
  }
  
  /* Efecto hover: Cambio de color y sombra intensa */
  .contact-button:hover {
    background: linear-gradient(135deg, #a8b312, #8f9c0f);
    color: #fff;
    box-shadow: 0px 5px 25px rgba(195, 212, 23, 0.5);
    transform: scale(1.05);
  }
  
  /* Efecto de "presión" al hacer clic */
  .contact-button:active {
    transform: scale(0.95);
    box-shadow: 0px 3px 10px rgba(195, 212, 23, 0.2);
  }
  
  /* Animación de iluminación lateral */
  .contact-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(25deg);
    transition: all 0.5s ease-in-out;
  }
  
  .contact-button:hover::before {
    left: 120%;
  }
  