html{
  scroll-behavior: smooth;
  background: #2d2a26;
}
@font-face {
font-family: Akira;
src: url('../fonts/Akira.otf');
}

@font-face {
font-family: Desolator;
src: url('../fonts/Desolator.otf');
}

@font-face {
  font-family: Amodified;
  src: url('../fonts/Amodified.otf');
  }

@font-face {
  font-family: InputMono;
  src: url('../fonts/InputMono.ttf');
  }

@font-face {
  font-family: TenbyFive;
  src: url('../fonts/tenby-five.otf');
  }

@font-face {
  font-family: BogitaMono;
  src: url('../fonts/BogitaMono-Medium.otf');
}


h1{
  font-family: InputMono;

}


h2, h3, h4, h5 {
  font-family: "tenby-stencil", sans-serif;
}

p {
  /*font-family: "Rubik", serif;*/
  font-family: "tenby-five", sans-serif;
  text-align: center;
  /* letter-spacing: 0.04em; */
}

.section{
  height: fit-content;
  height: 100vh;
}

.intro{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg-video{
  filter: brightness(0.55); 
}

/* DEMO7INTRODUCTION */
.demo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url("../assets/background-demo-flat.jpg");
  background-size: 80% 100vh;
  background-position: right;
  position: relative;           /* IMPORTANTE */
  overflow: hidden;             /* opcional: ocultar si se sale */
}



.demo-text{
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #43403b;
  border-radius: 0 80px 80px 0;
}

.text-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5rem;
  justify-content: space-evenly;
  align-items: center;
}

.text-box > h2{
  font-size: clamp(0.8rem, 1rem + 3vw, 5rem) !important;
  font-weight: bold;
  text-align: start;
  padding: 20px;
  color: white;
  
}


.text-box > p{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  background: rgba(30, 28, 25, 0.6); /* 60% opacidad */
  border-radius: 20px;
  padding: 25px;
  font-size: clamp(0.75rem, 0.7rem + 0.8vw, 1.5rem);
  text-align: justify;
  color: white;
}

.demo-container{
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.demo-phone{
  width: auto;
  height: auto;
  max-width: 80%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}




@media (max-width: 1100px) {
  .demo{
      flex-direction: column;
      height: 100vh;
      background-size: 100% 100vh;
  }

  .demo-container, .demo-text{
    width: 100%;
    height: 50%;
  }
  
  .demo-text{
    border-radius: 0 0 80px 80px;
  }

  .demo-phone{
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 70%;
  }

  .text-box{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .text-box > h2{
    text-align: center;
  }

  .text-box > p{

    text-align: center;
    padding: 15px;
  }
}

/* modules */

.modules{
  background-color: #2d2a26;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



/* Contenedor de las tabs tipo tarjetas */
.erp-tabs {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: start;
  align-items: center;
  gap: 0;                 /* Las vamos a solapar con margin negativo */
  padding: 0;
  position: relative;
  background: linear-gradient(
    to left,
    #2d2a26,
    #2d2a26,
    #d0da4c,
    #e3e14d,
    #f5e752,
    #f7eb6b,
    #f1e98b
  );
}

/* Cada tab como una “tarjeta” vertical */
.erp-tab {
  width: 300px;            /* ancho de la tarjeta */
  height: 100%;          /* alto de la tarjeta */
  background: #2d2a26;
  border-radius: 0 25px 25px 0;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 1vw;
  cursor: pointer;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    filter 0.25s ease;
  
  /* Clave: hacer que se vean apiladas */
  /* margin-left: -25px;     solapado entre tarjetas */
  position: relative;
}

/* La primera que no se solape hacia atrás */
.erp-tab:first-child {
  margin-left: 0;
  box-shadow: 0;
}

/* Efecto hover: se levanta un poco y se destaca */
.erp-tab:first-child:hover {
  z-index: 10;                 /* se pone encima de las otras */
  box-shadow: unset;
  filter: brightness(1);
}

/* Texto vertical dentro de la tarjeta */
.erp-tab span {
  writing-mode: vertical-rl;   /* texto vertical */
  text-orientation: mixed;
  font-family: "tenby-five", sans-serif;
  transform: rotate(0deg);   /* para que se lea de abajo hacia arriba en vez de cabeza abajo */
  color: #2d2a26;
  font-size: 3rem;
  font-weight: 100;
  /* letter-spacing: 0.1em; */
  text-align: center;
  /* text-transform: uppercase; */
}

/* Efecto hover: se levanta un poco y se destaca */
.erp-tab:hover {
  transform: translateX(14px);
  z-index: 10;                 /* se pone encima de las otras */
  box-shadow: 0 18px 30px rgba(0,0,0,0.35);
  filter: brightness(1.1);
}

/* Opcional: resaltar una tab “activa” con color primario */
.erp-tab.active,
.erp-tab:focus-visible {
  outline: none;
  box-shadow: 0 18px 30px rgba(0,0,0,0.5);
  background: #c3d417;        /* verde vivo */
}

.erp-tab.active span,
.erp-tab:focus-visible span {
  color: #2d2a26;
}

.erp-tab.active {
  filter: brightness(1.2);
  z-index: 5;
  transform: translateX(15px);
}

.erp-tab { margin-left: -30px; }  /* menos solapado */

.erp-tab:nth-child(1) { background: #f8ef8d; }
.erp-tab:nth-child(2) { background: #f7eb66; }
.erp-tab:nth-child(3) { background: #f7e94e; }
.erp-tab:nth-child(4) { background: #e3e14d; }
.erp-tab:nth-child(5) { background: #d0da4c; }
.erp-tab:nth-child(6) { background: #bad14d; }
.erp-tab:nth-child(7) { background: #a4c84b; }
.erp-tab:nth-child(8) { background: #87bd4d; }
.erp-tab:nth-child(9) { background: #7ab13f; }

.erp-tab:nth-child(1) { z-index: 9; }
  .erp-tab:nth-child(2) { z-index: 8; }
  .erp-tab:nth-child(3) { z-index: 7; } 
  .erp-tab:nth-child(4) { z-index: 6; }
  .erp-tab:nth-child(5) { z-index: 5; }
  .erp-tab:nth-child(6) { z-index: 4; }
  .erp-tab:nth-child(7) { z-index: 3; }
  .erp-tab:nth-child(8) { z-index: 2; }
  .erp-tab:nth-child(9) { z-index: 1; }

@media (max-width: 1100px) {

  .modules{
    flex-direction: column;
  }

  .erp-tabs {
    width: 100%;
    height: 50%;
    padding-right: 0;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(
    to bottom,
      #87bd4d,
      #bad14d,
      #d0da4c,
      #e3e14d,
      #f9ec58,
      #faed63,
      #f8ee7a
    );
  }

  .erp-tab {
    width: 100%;           /* más estrechas en vertical */
    height: 350px;          /* o auto si quieres */
    margin-left: 0;
    margin-top: -30px;      /* aquí se solapan ahora verticalmente */
    border-radius: 25px 25px 0 0; /* puede quedar igual */
    transform: none;
    position: relative;
    padding-top: 0.5rem;
    padding-right: 0;
    align-items: start;
    justify-content: center;
  }

  .erp-tab:first-child {
    margin-top: -20px;
  }

  /* hover en vertical */
  .erp-tab:hover {
    transform: translateY(-12px);
    z-index: 10;
  }

  .erp-tab.active {
    filter: brightness(1.2);
    transform: translateY(-15px);
  }

  /* texto vertical sigue funcionando */
  .erp-tab span {
    writing-mode: horizontal-tb;
    transform: rotate(0);
    font-size: 1.6rem;
  }

  .erp-tab { margin-left: 0px; margin-top: -20px; }  /* menos solapado */
}


.modules-text{
  width: 50%;
  height: 100%;
}

.info-modules-container{
  height: 100%;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.text-box-modules{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-box-modules > p{
    text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 25px;
  text-align: justify;
  color: white;
}

.text-box-modules p {
  opacity: 1;
  transition: opacity .35s ease;
}

.modules-phone{
  width: auto;
  height: auto;
  max-width: 80%;
  border-radius: 10px; /* Bordes redondeados para simular un teléfono */
  /*border: 8px solid black; /* Marco del celular */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra para efecto realista */
  overflow: hidden; /* Asegura que la imagen no sobresalga */
  background-color: white; /* Fondo para simular una pantalla apagada */
   opacity: 1;
  transition: opacity .35s ease;
}

@media (max-width: 1100px) {
  .modules-text{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modules-phone{
    width: auto;
    height: auto;
    max-height: 50%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .info-modules-container{
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    gap: 1rem;
  }

  .text-box-modules > p{
    font-size: 1rem;
    text-align: center;
    padding: 15px;
  }
}




  .contact-button {
    margin-top: 20px;
    background: linear-gradient(135deg, #c3d417, #a8b312); /* Degradado con el color de la marca */
    color: #2d2a26;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(195, 212, 23, 0.3);
    font-family: "Rubik", sans-serif;
  }
  
  /* Efecto hover: Cambio de color y sombra intensa */
  .contact-button:hover {
    background: linear-gradient(135deg, #a8b312, #8f9c0f);
    color: #fff;
    box-shadow: 0px 5px 25px rgba(195, 212, 23, 0.5);
    transform: scale(1.05);
  }
  
  /* Efecto de "presión" al hacer clic */
  .contact-button:active {
    transform: scale(0.95);
    box-shadow: 0px 3px 10px rgba(195, 212, 23, 0.2);
  }
  
  /* Animación de iluminación lateral */
  .contact-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(25deg);
    transition: all 0.5s ease-in-out;
  }
  
  .contact-button:hover::before {
    left: 120%;
  }
  